body{
  width:1200px;
  font-size: 0;
}
div{
  position: relative;
}
/*
Add your CSS to the ID selectors below
*/
#statue{
}

#ball{

}

#turnip{

}

#farm{

}

#grass{

}

#tetris{

}

#L{

}

#T{

}

#I{

}